.main {
}

.mainArticle{
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgb(132 148 160 / 12%) 0px 4px 16px;
}

.searchBar{
    height: 40px;
    line-height: 30px;
    background: #ffffff;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 5px;
    box-shadow: rgb(132 148 160 / 12%) 0px 4px 16px;
}

.searchBar input{
    background: #ffffff;
    width: 100%;
    height: 30px;
    padding-left: 15px;
    border-radius: 20px;
    color: #868686;
    border: 1px solid #dbdbdb;
}

.navTitle{
    padding-left: 20px;
}