.sidemenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  min-width: 20vw;
  height: 100%;
  background-color: #4b3b2e;
}
  
.sidemenuHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidemenuLetter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  min-width: 45px;
  min-height: 45px;
  background-color: #3dfc05;
}

.sidemenuTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 12px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 40%;
  width: 80%;
}

.menulinks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15%;
  border-radius: 23px;
  background-color: #a5a5a5;
}

.menulinks :hover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 23px;
  background-color: white;
}

.supportus {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 150px;
  min-width: 15vw;
  border-radius: 27px;
  background-color: #3dfc05;
}

.supportusTitle {
  padding: 10px;
  font-size: 23px;
}

.supportusDetail {
  padding: 5px;
}

.supportusBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  width: 80%;
  height: 15%;
  border-radius: 12px;
  background-color: #efe3d4;
}


.medias {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
}

.mediaIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mediaIcons img {
  margin-left: 5px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}

.mediaRef {
  padding-top: 10px;
  font-size: 12px;
}
