@import "@game-guild/ui/globals.css";

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  min-height: 100%;
}

body {
  @apply bg-background text-foreground;
}
