.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 80vh;
}

.title {
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: x-large;
}

.events {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
