.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    max-width: 1200px;
}

.logo {
    padding-left: 35px;
    width: 200px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.loginBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    color: #222222;
    background-color: #0EB50E;
}
